@charset "UTF-8";

:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main > div > div {
  display: flex;
}

.navbar {
  background-color: #d3d3d3;
  color: #fff;
  height: 10em;
}

main > div .navbar {
  display: flex;
  flex-direction: row;
  max-width: 250%;
  max-height: 19%;
  height: 10em;
  margin: 0 3%;
  padding: 0 3%;
}

.website-logo {
  display: flex;
  width: 5%;
  height: 5%;

  /* padding: 5% 0 0 5%; */
}

div > span > a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #0000cd;
}

a:visited {
  color: #ff7f50;
}

.digits {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-left: 20em;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.homepage-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.home-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.computer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70em;
}

p {
  font-size: 1.2em;
  font-family: sans-serif, Arial;
  color: #000;
}

.down-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 100%;
  height: 100%;
  background-color: #d3d3d3;
}
