@charset "UTF-8";

:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container{
  max-width: 97%;
  max-height: 99%;
  margin: 0 3%;
  padding: 0 3%;
}

p {
  font-size: 1.2em;
  font-family: sans-serif;
  color: #000000;
}

main > div > image{
    width: 15px;
    height: 15px;
    position: relative;
    margin: 1em 1em 1em 1em;
}

div > span > a{
    text-decoration: none;
    color: #000000;
    max-font-size: 1.5em;
}

a:hover{
    color: #d9534f;
}


.navbar{
    background-color: #D3D3D3;
    color: #fff;
    height: 14em;
}

.digits{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 10em;

}

.computer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 10em;
    width: 100%;
}

